{
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "quoteProps": "as-needed",
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "printWidth": 200
}
